extends baseEmail

block content
  p Hi #{email},
  p Please verify your email address to activate your account.
  p Copy the token below:
  p #{token}
  p If you didn't sign up, you can safely ignore this email.
